---

- name: Install rbenv
  git:
    repo: https://github.com/rbenv/rbenv.git
    dest: "{{ rbenv_home }}"
    accept_hostkey: yes

- name: Install rbenv build plugin
  git:
    repo: "https://github.com/rbenv/ruby-build.git"
    dest: "{{ rbenv_home }}/plugins/ruby-build"
    accept_hostkey: yes

- name: Install rbenv default gems plugin
  git:
    repo: "https://github.com/rbenv/rbenv-default-gems.git"
    dest: "{{ rbenv_home }}/plugins/rbenv-default-gems"
    accept_hostkey: yes

- name: Add default gems
  template:
    src: default-gems.j2
    dest: "{{ rbenv_home }}/default-gems"

- name: "Install ruby {{ ruby_version }}"
  shell: "{{ rbenv_exec }} install {{ ruby_version }}"

- name: "Set ruby {{ ruby_version }} as global"
  shell: "{{ rbenv_exec }} global {{ ruby_version }}"
